
<div class="head-title">
  <div class="left">
    <h1>Résidences</h1>
    <ul class="breadcrumb">
      <li>
        <a href="#">Résidences</a>
      </li>
      <li><i class='bx bx-chevron-right' ></i></li>
      <li>
        <a class="active">List</a>
      </li>
    </ul>
  </div>
  <div *ngIf="hasAnyRoles(['ADMIN'])">
    <a class="btn-create">Crée une Résidence</a>
  </div>
</div>
<div class="table-data">
  <div class="order">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Disponibilité</th>
        <th>Détail</th>
      </tr>
      </thead>
      <tbody>
        @for ( residence of residences ; track $index){
          <tr>
            <td>
              <p>{{residence.nom}}</p>
            </td>
            <td>
              <p>{{residence.adresse}}</p>
            </td>
            <td>
              <span class="status completed">10 Appartements</span>
            </td>
            <td>
              <a [routerLink]="[residence.nom]">
                <i class="detail bx bxs-info-circle"></i>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
